<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- <configuration> 
	和Spring集成的话，一般此配置文件只会保留一些个性化
	日志，缓存
 -->
<configuration>

	<settings>
		<!-- 配置日志框架 -->
		<setting name="logImpl" value="LOG4J"/>
		
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>

</configuration>